<article class="new-form">
	<form class="new-submission"
			  novalidate
		 	  (ngSubmit)="saveEmployee()"
			  [formGroup]="employeeForm">
			  	<h2>Add Employee</h2>
				<div
					[ngClass]="{'has-error': (employeeForm.get('name').touched || employeeForm.get('name').dirty) && !employeeForm.get('name').valid}">
						<label><b>Employee Name:</b></label>
							<input class=""
										 id="ename" 
									 	 type="text"
										 placeholder=" Enter Employee Name"
										 required
										 formControlName="name"/>
				</div>
				<div
					[ngClass]="{'has-error': (employeeForm.get('password').touched || employeeForm.get('password').dirty) && !employeeForm.get('password').valid}">
						<label><b>Password:</b></label>
							<input class=""
										 type="password"
										 placeholder=" Enter Password"
									 	 id="epswd"
										 required
										 formControlName="password"/>
				</div>
				<div class="admin-box">
						<label><b>Admin:</b></label>
						<input class=""
									 type="checkbox"
									 id="isadmin"
									 formControlName="admin"/>
				</div>
				<div>
						<button class=""
								type="submit"
								[disabled]="!employeeForm.valid">
							Save</button>
						<button class=""
								type="reset">
						Cancel</button>
						<button >
						<a [routerLink]="['/employees']">Back</a></button>
				</div>
	</form>
</article>
