<section class="main-content-pages">
  <aside class="nav-sidebar">
      <ul class="sidebar-links">
         <a [routerLink]="['/home']"><li>Home</li></a>
         <a [routerLink]="['/employees']"><li>Employees</li></a>
         <a [routerLink]="['/equipment']"><li>Equipment</li></a>
         <a [routerLink]="['/repairs']"><li>Repairs</li></a>
         <a [routerLink]="['/vendors']"><li>Vendors</li></a>
         <a [routerLink]="['/login']"><li>Log Out</li></a>
        </ul>
    </aside>
    <div class="API-content">
      <table *ngIf='equipment && equipment.length'>
        <thead>
          <tr>
            <th>Serial Number</th>
            <th>Cost</th>
            <th>Purchase Date</th>
            <th>Warranty Length</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let equipment of equipment'>
            <td>{{ equipment.serialNum }}</td>
            <td>{{ equipment.cost | currency:'USD':true:'1.2-2' }}</td>
            <td>{{ equipment.purchaseDate | date:'mm/dd/yyyy' }}</td>
            <td>{{ equipment.warrantyLength }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>