<section class="main-content-pages">
  <aside class="nav-sidebar">
      <ul class="sidebar-links">
         <a [routerLink]="['/home']"><li>Home</li></a>
         <a [routerLink]="['/employees']"><li>Employees</li></a>
         <a [routerLink]="['/equipment']"><li>Equipment</li></a>
         <a [routerLink]="['/repairs']"><li>Repairs</li></a>
         <a [routerLink]="['/vendors']"><li>Vendors</li></a>
         <a [routerLink]="['/login']"><li>Log Out</li></a>
        </ul>
    </aside>
    <div class="API-content">
      <h2>Employees</h2>
      <button class="add-new"><a [routerLink]="['/employee']">Add Employee</a></button><br>
      <table *ngIf='employees && employees.length'>
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Admin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let employee of employees'>
            <td>{{ employee._id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.admin }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>