<section class="main-content-pages">
  <aside class="nav-sidebar">
      <ul class="sidebar-links">
         <a [routerLink]="['/home']"><li>Home</li></a>
         <a [routerLink]="['/employees']"><li>Employees</li></a>
         <a [routerLink]="['/equipment']"><li>Equipment</li></a>
         <a [routerLink]="['/repairs']"><li>Repairs</li></a>
         <a [routerLink]="['/vendors']"><li>Vendors</li></a>
         <a [routerLink]="['/login']"><li>Log Out</li></a>
        </ul>
    </aside>
    <div class="API-content">
      <p>HOME TEXT GOES HERE!!!</p>
    </div>
</section>